<div class="sidebar">
  <a href="https://www.instagram.com/geof_mrd/" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/geoffroy-moreaud" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/Geofrmd" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://www.youtube.com/channel/UCmugbcMoTsGYkg1joCZjK1g" target="_blank"><i class="fab fa-youtube"></i></a>
</div>
<a id="scrollToTopBtn" title="Retour en haut de page"><i class="fa-solid fa-circle-up"></i></a>
<div class="section-1" style="padding-top:72px">
  <div class="container py-4">
    <div class="row">
      <div class="main-description col">
        <h1 id="phrase">Réalisation de clips <br> vidéos pour vos <br><span id="motChangeant">événements</span></h1>
        <p class="boost">Boostez votre visibilité !</p>
        <a class="btn btn-primary main-cta" href="#presentation">Je découvre!</a>
      </div>
      <div class="illustration col">
        <%= video_tag(cloudinary_url("https://res.cloudinary.com/dcvxiakv1/video/upload/v1683025146/teaser_videaste_Comp-_lie%CC%81e_01_1_hgma1z_qmr8yk.mp4"), controls: false, autoplay: true, muted: true, loop: true, width: "640", height: "360", class: "iframe video-teaser") %>
        <div class="img">
          <?xml version="1.0" encoding="utf-8"?>
          <svg class="ill-premier" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 2841.47 894.04" style="enable-background:new 0 0 2841.47 894.04;" xml:space="preserve">
                    <style type="text/css">
            .st0{fill:none;stroke:#B1B1B1;stroke-width:4;stroke-miterlimit:10;}
            .st1{fill:none;stroke:#B1B1B1;stroke-width:6;stroke-miterlimit:10;}
            .st2{fill:#87ADDA;}
            .st3{fill:#4CA3E9;stroke:#4CA3E9;stroke-width:10;stroke-miterlimit:10;}
            .st4{fill:#4CA3E9;}
            .st5{fill:#1D1D1F;}
            .st6{fill:none;stroke:#B1B1B1;stroke-width:2;stroke-miterlimit:10;}
            .st7{fill:#B1B1B1;}
            .st8{fill:none;stroke:#757477;stroke-width:0.5;stroke-miterlimit:10;}
            .st9{fill:#757477;}
            .st10{fill:#FFD400;}
            .st11{display:none;}
            .st12{display:inline;fill:#B1B1B1;}
            .st13{fill:none;}
          </style>
          <g id="timeline">
          <g id="grid">
            <line class="st0" x1="75.33" y1="262.81" x2="2794.5" y2="262.81"/>
            <line class="st0" x1="75.33" y1="383.25" x2="2794.5" y2="383.25"/>
            <line class="st0" x1="75.33" y1="508.33" x2="2794.5" y2="508.33"/>
            <line class="st0" x1="75.33" y1="628.77" x2="2794.5" y2="628.77"/>
            <line class="st0" x1="75.33" y1="753.84" x2="2794.5" y2="753.84"/>
            <path class="st1" d="M2787.55,878.91H82.29c-3.84,0-6.95-3.11-6.95-6.95v-704.1c0-3.84,3.11-6.95,6.95-6.95h2705.26
              c3.84,0,6.95,3.11,6.95,6.95v704.1C2794.5,875.8,2791.39,878.91,2787.55,878.91z"/>
            <line class="st0" x1="791.03" y1="158.59" x2="791.03" y2="876.6"/>
            <line class="st0" x1="2180.72" y1="211.86" x2="2180.72" y2="262.81"/>
            <line class="st0" x1="2250.2" y1="211.86" x2="2250.2" y2="262.81"/>
            <line class="st0" x1="2315.06" y1="211.86" x2="2315.06" y2="262.81"/>
            <line class="st0" x1="2384.54" y1="211.86" x2="2384.54" y2="262.81"/>
            <line class="st0" x1="2454.03" y1="211.86" x2="2454.03" y2="262.81"/>
            <line class="st0" x1="2523.51" y1="211.86" x2="2523.51" y2="262.81"/>
            <line class="st0" x1="2592.99" y1="211.86" x2="2592.99" y2="262.81"/>
            <line class="st0" x1="2662.48" y1="211.86" x2="2662.48" y2="262.81"/>
            <line class="st0" x1="2731.96" y1="211.86" x2="2731.96" y2="262.81"/>
          </g>
          <g id="sequences">
            <path id="sequence4_00000017482431505260715750000001690946653022705327_" class="st2" d="M2458.38,739.94h-856.41
              c-1.43,0-2.6-1.16-2.6-2.6V649.9c0-1.43,1.16-2.6,2.6-2.6h856.41c1.44,0,2.6,1.16,2.6,2.6v87.45
              C2460.97,738.78,2459.81,739.94,2458.38,739.94z"/>
            <path id="sequence3_00000039109157150427818510000002057076428529572492_" class="st2" d="M2171.17,614.87h-856.41
              c-1.44,0-2.6-1.16-2.6-2.6v-87.45c0-1.43,1.16-2.6,2.6-2.6h856.41c1.44,0,2.6,1.16,2.6,2.6v87.45
              C2173.77,613.71,2172.61,614.87,2171.17,614.87z"/>
            <path id="sequence2_00000075141200210027827520000000037186395270231955_" class="st2" d="M2171.17,489.8h-856.41
              c-1.44,0-2.6-1.16-2.6-2.6v-87.45c0-1.44,1.16-2.6,2.6-2.6h856.41c1.44,0,2.6,1.16,2.6,2.6v87.45
              C2173.77,488.63,2172.61,489.8,2171.17,489.8z"/>
            <path id="sequence1_00000173133734628933280660000000363659972757192333_" class="st2" d="M1656.99,369.36H800.57
              c-1.44,0-2.6-1.16-2.6-2.6v-87.45c0-1.44,1.16-2.6,2.6-2.6h856.41c1.44,0,2.6,1.16,2.6,2.6v87.45
              C1659.58,368.19,1658.42,369.36,1656.99,369.36z"/>
          </g>
          <g id="selector">
            <line class="st3" x1="819.09" y1="184.07" x2="823.72" y2="878.91"/>
            <rect x="814.46" y="184.07" class="st4" width="64.85" height="69.48"/>
          </g>
          <g id="arrows">
            <path id="arrow5_00000166677942063584380540000014638946611486985351_" class="st0" d="M236.68,297.93l24.16,24.16
              c0.18,0.18,0.18,0.47,0,0.65c-8.23,8.23-16.46,16.46-24.69,24.69"/>
            <path id="arrow4_00000029032440026340959390000005179292679317591487_" class="st0" d="M236.68,418.37l24.16,24.16
              c0.18,0.18,0.18,0.47,0,0.65c-8.23,8.23-16.46,16.46-24.69,24.69"/>
            <path id="arrow3_00000033345107425055917390000009972337954443244213_" class="st0" d="M236.68,543.45l24.16,24.16
              c0.18,0.18,0.18,0.47,0,0.65c-8.23,8.23-16.46,16.46-24.69,24.69"/>
            <path id="arrow2_00000031196518191032066640000001613930958288168371_" class="st0" d="M275.06,679.41l-23.94,24.37
              c-0.18,0.18-0.47,0.19-0.65,0.01c-8.3-8.15-16.61-16.31-24.91-24.46"/>
            <path id="arrow1_00000175314967547851118050000005692624516851949211_" class="st0" d="M381.6,799.85l-23.94,24.37
              c-0.18,0.18-0.47,0.19-0.65,0.01c-8.3-8.15-16.61-16.31-24.91-24.46"/>
          </g>
          <g id="Chrono">
            <path class="st5" d="M294.91,855.66h-87.76c-0.07,0-0.13-0.06-0.13-0.13v-87.76c0-0.07,0.06-0.13,0.13-0.13h87.76
              c0.07,0,0.13,0.06,0.13,0.13v87.76C295.04,855.61,294.99,855.66,294.91,855.66z"/>
            <circle class="st6" cx="250.06" cy="818.02" r="28.73"/>
            <line class="st6" x1="250.06" y1="776.57" x2="250.06" y2="789.29"/>
            <line class="st6" x1="233.4" y1="777.54" x2="266.72" y2="777.54"/>
            <line class="st6" x1="250.06" y1="797.18" x2="250.06" y2="818.02"/>
            <line class="st6" x1="266.1" y1="816.86" x2="249.02" y2="816.86"/>
          </g>
          <g id="Eyes">
            <g id="Eye4">
              <path class="st5" d="M188.37,735.22h-87.76c-0.07,0-0.13-0.06-0.13-0.13v-87.76c0-0.07,0.06-0.13,0.13-0.13h87.76
                c0.07,0,0.13,0.06,0.13,0.13v87.76C188.5,735.17,188.44,735.22,188.37,735.22z"/>
              <ellipse class="st6" cx="144.49" cy="693.53" rx="37.06" ry="20.85"/>
              <circle class="st6" cx="145.14" cy="693.53" r="20.85"/>
              <circle class="st7" cx="145.14" cy="693.53" r="10.56"/>
            </g>
            <g id="Eye3">
              <path class="st5" d="M188.37,610.15h-87.76c-0.07,0-0.13-0.06-0.13-0.13v-87.76c0-0.07,0.06-0.13,0.13-0.13h87.76
                c0.07,0,0.13,0.06,0.13,0.13v87.76C188.5,610.09,188.44,610.15,188.37,610.15z"/>
              <ellipse class="st6" cx="144.49" cy="568.46" rx="37.06" ry="20.85"/>
              <circle class="st6" cx="145.14" cy="568.46" r="20.85"/>
              <circle class="st7" cx="145.14" cy="568.46" r="10.56"/>
            </g>
            <g id="Eye2">
              <path class="st5" d="M188.37,485.08h-87.76c-0.07,0-0.13-0.06-0.13-0.13v-87.76c0-0.07,0.06-0.13,0.13-0.13h87.76
                c0.07,0,0.13,0.06,0.13,0.13v87.76C188.5,485.02,188.44,485.08,188.37,485.08z"/>
              <ellipse class="st6" cx="144.49" cy="443.39" rx="37.06" ry="20.85"/>
              <circle class="st6" cx="145.14" cy="443.39" r="20.85"/>
              <circle class="st7" cx="145.14" cy="443.39" r="10.56"/>
            </g>
            <g id="Eye1">
              <path class="st5" d="M188.37,364.64h-87.76c-0.07,0-0.13-0.06-0.13-0.13v-87.76c0-0.07,0.06-0.13,0.13-0.13h87.76
                c0.07,0,0.13,0.06,0.13,0.13v87.76C188.5,364.58,188.44,364.64,188.37,364.64z"/>
              <ellipse class="st8" cx="144.49" cy="322.95" rx="37.06" ry="20.85"/>
              <circle class="st8" cx="145.14" cy="322.95" r="20.85"/>
              <circle class="st9" cx="145.14" cy="322.95" r="10.56"/>
              <ellipse class="st6" cx="144.49" cy="322.95" rx="37.06" ry="20.85"/>
              <circle class="st6" cx="145.14" cy="322.95" r="20.85"/>
              <circle class="st7" cx="145.14" cy="322.95" r="10.56"/>
            </g>
          </g>
          <g id="keyframes">

              <rect id="keyframe2_00000043451466500323122650000013818459531302864291_" x="2206.2" y="781.63" transform="matrix(0.7071 0.7071 -0.7071 0.7071 1224.3562 -1341.6345)" class="st10" width="50.96" height="50.96"/>

              <rect id="keyframe1_00000178923108520862743300000002742198693342815661_" x="1594.73" y="781.63" transform="matrix(0.7071 0.7071 -0.7071 0.7071 1045.2622 -909.2635)" class="st10" width="50.96" height="50.96"/>
          </g>
                  </g>
                  <g id="bouttons">
          <polygon id="play_00000089556509205744880950000015409682310761350543_" class="st7" points="1504.29,51.76 1462.8,77.27
            1446.08,77.27 1446.08,26.25 1462.8,26.25 	"/>
          <g id="front">
            <polygon class="st7" points="1666.41,51.51 1624.95,72.74 1624.64,31.02 		"/>
            <rect x="1606.71" y="30.64" class="st7" width="9.31" height="42.25"/>
          </g>
          <g id="back">
            <polygon class="st7" points="1286.23,52.13 1327.69,30.9 1328,72.62 		"/>

              <rect x="1336.62" y="30.76" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 2682.5566 103.7563)" class="st7" width="9.31" height="42.25"/>
          </g>
          <g id="stop" class="st11">
            <rect x="1786.86" y="429.28" class="st12" width="34.06" height="34.06"/>
          </g>
          <g>
            <rect class="st13" width="2841.47" height="894.04"/>
          </g>
                  </g>
                  </svg>

              </div>
            </div>
      </div>
   </div>
  </div>
</div>
<div class="section-2">
  <div class="container py-5">
    <div class="row">
     <div class="col text-center">
      <span><i class="fa-regular fa-lightbulb skill"></i></span>
      <h2 class="skill-description">Production</h2>
      <p >Réflexion avant le tournage pour donner vie à vos idées !</p>
     </div>
     <div class="col text-center" >
      <span><i class="fa-solid fa-video skill"></i></span>
      <h2 class="skill-description">Réalisation</h2>
      <p>Création complète de votre vidéo en respectant le concept que vous avez défini pour que la vidéo vous ressemble !</p>
     </div>
     <div class="col text-center">
      <span>
        <span class="material-symbols-rounded skill">
        movie_edit
        </span>
      </span>
      <h2 class="skill-description">Post-Production</h2>
      <p>Maitrise d'outils professionnels (Premier Pro, After Effect, Photoshop ...), me permettant de vous proposer une vidéo à votre image !</p>
     </div>
    </div>
  </div>
</div>

<div class="section-3" id="presentation">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h2>Qui suis-je ?</h2>
          <p style="font-weight: 300; padding-top: 2%;">Je m'appelle Geoffroy, j'ai 26 ans et je suis passionné par la photographie et la vidéo depuis de nombreuses années. </p>
          <p style="font-weight: 300;">J'ai commencé ma carrière professionnelle chez Nexity, où j'ai eu l'opportunité de travailler dans la partie Entreprise du groupe. Pendant mes 3 années et demie là-bas, j'ai acquis de l'expérience en réalisation, production et montage vidéo, ce qui m'a permis d'améliorer mes compétences dans ce domaine. Fort de cette expérience, je me lance maintenant en tant que freelance et je serais ravi de discuter avec vous de vos projets. Vous pouvez me contacter ici : </p>
          <%= link_to "Contactez-moi !", new_contact_path, class: "btn btn-primary", style: "color: white; font-weight: bold;" %>
        </div>
      </div>
      <div class="col-md-6">
        <div >
          <img class="imggeo" src="https://res.cloudinary.com/dcvxiakv1/image/upload/v1683025139/P7403594_nc3hwv_al5xru.jpg" alt="geoffroy moreaud image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-4">
  <div class="container">
    <div class="grid">
      <div class="left">
        <h1 style="font-size: 2rem;">Ils me font confiance</h1>
        <p id="trust">Retrouvez ici une liste non exhaustive des entreprises avec lesquelles j'ai déjà été amené à collaborer ! <br> A votre tour ?</p>
      </div>
      <div class="right">
        <div class="logo-grid">
          <img src="https://media.licdn.com/dms/image/C4E0BAQEhEK7T3l22cA/company-logo_200_200/0/1672735285667?e=2147483647&v=beta&t=UwpCJPZDnizRnK5XZSpADRZ9tSrDkXSEO9XjUvjJFxQ" alt="Logo 1">
          <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/7/7e/Nexity-logo.svg/2048px-Nexity-logo.svg.png" alt="Logo 2">
          <img src="https://www.globalespacesverts.fr/wp-content/uploads/2018/12/Observatoire.jpg" alt="logo observatoire de paris" alt="Logo 3">
          <img src="https://res.cloudinary.com/dcvxiakv1/image/upload/v1683025140/star_sup_logo_ckbhyd_ffurja.png" alt="Logo 4">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="references">
  <h2 class="text-center py-4">Portfolio</h2>
  <div class="portfolio-container">
  <!-- Video 1 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/1XEBuWQUpsQ" class="video-link">
          <img src="https://dubuisson.eu/wp-content/uploads/2019/04/PSA-02-1420x827.jpg" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Présentation New</h3>
          <p class="category"> - CORPORATE - </p>
          <p class="portfolio-description">Mise en valeur du nouveau siège social de Nexity. Présentation des locaux, interviews...</p>
        </div>
      </div>
    </div>
    <!-- Video 2 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Visite du campus Wenov - Hiptown</h3>
          <p class="category"> - CORPORATE - </p>
          <p class="portfolio-description">Présentation du campus Wenov, exploité par la société Hiptown</p>
        </div>
      </div>
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/vJE7DJgf16o" class="video-link">
          <img src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2019/02/21/node_541122/40100990/public/2019/02/21/B9718633520Z.1_20190221185628_000%2BGD2D1C2N1.2-0.jpg?itok=zoIk38611551002781" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
    </div>
    <!-- Video 3 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/1kYhkHMa_y0" class="video-link">
          <img src="https://hiptown.com/wp-content/uploads/sites/3/2022/08/Hiptown-location-bureau-opere-Paris-Bourse-Grds-Boulevards-75002-espace-detente-4.jpg" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Hiptown Invalides - Assemblée Nationale</h3>
          <p class="category"> - CORPORATE - </p>
          <p class="portfolio-description">Mise en valeur du nouvel espace de Coworking "Hiptown Invalides". Présentation des locaux, interviews...</p>
        </div>
      </div>
    </div>
    <!-- Video 4 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Hiptown Pont de Sèvres</h3>
          <p class="category"> - CORPORATE - </p>
          <p class="portfolio-description">Mise en valeur du nouvel espace de Coworking "Hiptown Pont de Sèvres". Présentation des locaux, interviews...</p>
        </div>
      </div>
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/nynRpbOnFYU" class="video-link">
          <img src="https://hiptown.com/wp-content/uploads/sites/3/2023/03/Hiptown-location-bureau-a-louer-Paris-Montmartre-75018-1024x576.jpg" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
    </div>
    <!-- Video 5 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/bv8QZiznKCw" class="video-link">
          <img src="https://hiptown.com/wp-content/uploads/sites/3/2022/08/Hiptown_eurorennes-gare_bretagne_coworking.jpg" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Hiptown EuroRennes - Coworking</h3>
          <p class="category"> - CORPORATE - </p>
          <p class="portfolio-description">Mise en valeur du nouvel espace de Coworking "Hiptown EuroRennes". Présentation des locaux, interviews...</p>
        </div>
      </div>
    </div>
    <!-- Video 6 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Nexity x Week'in - Event</h3>
          <p class="category"> - EVENT - </p>
          <p class="portfolio-description">Retour en image d'un event organisé par la société Week'In</p>
        </div>
      </div>
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/JMnHP7lMTAo" class="video-link">
          <img src="https://res.cloudinary.com/dcvxiakv1/image/upload/v1683025140/week_in_event-min_l1ivlb_zdch4v.png" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
    </div>
    <!-- Video 7 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/q7jvb65SlEQ" class="video-link">
          <img src="https://s3-eu-west-1.amazonaws.com/privateaser-media/etab_photos/40464/1500x750/288252.jpg" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Ouverture Restaurant Marta - Afterwork</h3>
          <p class="category"> - EVENT - </p>
          <p class="portfolio-description">Retour en image sur la soirée d'innauguration du restaurant "Marta", à Lille</p>
        </div>
      </div>
    </div>
    <!-- Video 8 -->
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <div class="portfolio-text">
          <h3 class="portfolio-title">Présentation - FlexAccess</h3>
          <p class="category"> - PRODUIT - </p>
          <p class="portfolio-description">Proposition d'une publicité pour le lancement du produit FlexAccess</p>
        </div>
      </div>
      <div class="portfolio-item">
        <a href="https://www.youtube.com/embed/lXW5moICJ2w" class="video-link">
          <img src="https://res.cloudinary.com/dcvxiakv1/image/upload/v1683025139/flexaccess_zednsy_ksf988.png" alt="Image 1" class="portfolio-image">
          <div class="portfolio-overlay">
            <i class="fa-solid fa-circle-play" style="font-size: 40px; color: #ffffffb5;"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="separateur">
</div>
<!-- Code HTML pour le pop-up -->
<div id="video-popup" class="video-popup">
  <div class="video-popup-content">
    <span class="close-btn">&times;</span>
    <iframe src="" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<script class="pop-up-js">
  // Sélectionner tous les éléments avec la classe .video-link
  var videoLinks = document.querySelectorAll('.video-link');

  // Ajouter un événement de clic à chaque élément
  videoLinks.forEach(function(videoLink) {
    videoLink.addEventListener('click', function(event) {
      event.preventDefault();
      var videoUrl = this.href;
      document.getElementById('video-popup').style.display = 'block';
      document.querySelector('#video-popup iframe').src = videoUrl;
    });
  });

  // Le reste du code pour fermer le pop-up reste le même
  document.querySelector('.close-btn').addEventListener('click', function() {
    closeVideoPopup();
  });

  document.getElementById('video-popup').addEventListener('click', function(event) {
    if (event.target === this) {
      closeVideoPopup();
    }
  });

  // Fonction pour fermer le pop-up
  function closeVideoPopup() {
    document.getElementById('video-popup').style.display = 'none';
    document.querySelector('#video-popup iframe').src = '';
  }
</script>

<div class="contact">
  <%# <%= form_for(@things) do |f| %>

  <%# <% end %>

</div>

<script type="text/javascript">

  var mots = ["séminaires", "salons", "événements", "after-works"];

  // Fonction pour changer le mot automatiquement
  function changerMot() {
    var motActuel = document.getElementById("motChangeant").textContent;
    var indexMotSuivant = mots.indexOf(motActuel) + 1;
    if (indexMotSuivant === mots.length) {
      indexMotSuivant = 0;
    }
    document.getElementById("motChangeant").textContent = mots[indexMotSuivant];
  }

  // Appel de la fonction toutes les deux secondes
  setInterval(changerMot, 2000);

</script>

<script>
  var topNavbar = document.querySelector('.navbar-lewagon'); // Sélecteur de la barre de navigation supérieure
  var prevScrollY = window.scrollY; // Position de défilement précédente

  // Écouter l'événement de défilement de la fenêtre
  window.addEventListener('scroll', function() {
  var currentScrollY = window.scrollY; // Position de défilement actuelle
  var scrollDirection = currentScrollY > prevScrollY ? 'down' : 'up'; // Direction de défilement

  // Animer la barre de navigation supérieure en fonction de la direction de défilement
  if (scrollDirection === 'down') {
    topNavbar.style.top = '-100px'; // Masquer la barre de navigation en dehors de l'écran
  } else {
    topNavbar.style.top = '0'; // Afficher la barre de navigation
  }

  prevScrollY = currentScrollY; // Mettre à jour la position de défilement précédente
  });
</script>

<script>
  // Script pour afficher/masquer le bouton en fonction du défilement de la page
  window.onscroll = function() {
  // Récupérer la position actuelle de défilement de la page
  var currentScrollPos = window.pageYOffset;

  // Afficher le bouton si la position de défilement est supérieure à la moitié de la hauteur de la fenêtre
  if (currentScrollPos > window.innerHeight / 2) {
    document.getElementById("scrollToTopBtn").style.display = "block";
  } else {
    document.getElementById("scrollToTopBtn").style.display = "none";
  }
  };

  // Script pour effectuer le retour en haut de page lors du clic sur le bouton
  document.getElementById("scrollToTopBtn").addEventListener("click", function() {
  window.scrollTo({ top: 0, behavior: "smooth" });
  });

</script>
