<h1>This is the main page</h1>
<div class="d-flex">
  <div class="img">
    <img src="https://www.millemercismariage.com/uploads/photos/couples/2022/296892/album/rxu3r9rfraabvj-xm9foctp6kqzkvm2_p3y_595.jpg" alt="">
  </div>
  <div class="description">
    <p>Lorem Impusm Etc Etc</p>
  </div>
</div>
<div style="background-image: url('https://www.millemercismariage.com/uploads/photos/couples/2022/296892/album/rxu3r9rfraabvj-xm9foctp6kqzkvm2_p3y_595.jpg');" class="section-2">

</div>
