.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Modifier le nombre de colonnes selon vos besoins */
  gap: 16px; /* Modifier l'espacement entre les vidéos selon vos besoins */
}

.grid-item {
  padding: 16px; /* Modifier la marge intérieure des vidéos selon vos besoins */
}

#phrase {
  font-size: 45px;
  font-weight: 600;
  color: #333;
}

#trust {
  font-weight: 300;
  padding-top: 35px;
}

.boost {
  font-weight: 300;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #333;
}

.main-cta:hover {
  color: white;
}

.main-description {
  padding-top: 14%;
}
// #motChangeant {
//   animation: changementMots 2s linear infinite;
// }

// @keyframes changementMots {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.illustration {
  background-color: #323232;
  padding: 2%;
}

.illustration > iframe {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#motChangeant {
  background-color: #C16E4B;
  color: #ffffff;
}

.section-1 {
  background-color : #FBF7F0;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
  grid-gap: 20px; /* Espacement entre les colonnes */
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale pour les logos */
  grid-gap: 10px; /* Espacement entre les logos */
  place-items: center;
}

.logo-grid img {
  width: 25%;
  height: auto;
}

.section-2 {
  background-color: white
}

.section-3 {
  background-color: #FBF7F0
}

.section-4 {
  background-color: #ffffff;
  padding-top: 4%;
  padding-bottom: 4%;
}

.references {
  background-color: white
}

.imggeo {
  width: 100%;
  height: auto;
}



////// test side bar
///
.sidebar {
  position: fixed;
  top: 50%; /* Vous pouvez ajuster cette valeur pour changer la position verticale de la barre latérale */
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  margin-bottom: 10px; /* Vous pouvez ajuster cette valeur pour définir l'espacement vertical entre les icônes de réseaux sociaux */
}

/* Optionnel : Styles pour les icônes de réseaux sociaux (nécessite l'utilisation d'une bibliothèque d'icônes comme Font Awesome) */
.sidebar i {
  font-size: 24px; /* Vous pouvez ajuster cette valeur pour changer la taille des icônes */
}


/////

/* Style du bouton de retour en haut de page */
#scrollToTopBtn {
  display: none; /* Masquer le bouton par défaut */
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  opacity: 0.5;
  transition: opacity 0.7s ease-in-out;
  z-index: 9999; /* Valeur de z-index pour garder le bouton au-dessus du contenu */
}

#scrollToTopBtn:hover {
  opacity: 1; /* Opacité du bouton au survol de la souris */
}

.fa-solid {
  font-size: 25px;
  color: #333;
}


.skill {
  font-size: 40px;
  color: #323232;
}

.skill-description {
  font-size: 20px;
  margin-top: 10%;
}


.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio-item {
  position: relative;
  background: #fbf7f0
}

.portfolio-link {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Aspect ratio 4:3 */
  overflow: hidden;
}

.portfolio-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 0;
}

.portfolio-title,
.portfolio-description {
  color: #fff;
  text-align: center;
}

.portfolio-title {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 15%;
  color: #c16e4b;
}

.portfolio-description {
  font-weight: 300;
  padding-top: 10px;
  color: #333;
  margin-left: 5px;
  margin-right: 5px;
}

.category {
  text-align: center;
  font-weight: 600;
  color: #2125293b;
  font-size: 12px;
}

////

.video-teaser {
  width: 640px;
  aspect-ratio: auto 640 / 360;
  height: 360px;
}

.section-2 p {
  font-size: 1rem;
    font-weight: 300;
}

.separateur {
  height: 100px;
  background: white;
}
// Smallest device
@media (min-width: 100px) and (max-width: 768px) {
  .video-teaser {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .video-teaser {
      width: 330px;
      aspect-ratio: auto 640 / 360;
      height: 250px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .video-teaser {
    width: 640px;
    height: 360px;
    aspect-ratio: auto 16 / 9;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .video-tesaer {
    width: 640px;
    aspect-ratio: auto 640 / 360;
    height: 360px;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .illustration {
    display: none;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .section-1 {
    background-image: url("https://res.cloudinary.com/dwclozjta/image/upload/v1682083984/image-fond-site-min_ao2v9g.png");
    background-size: cover;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .boost {
    color: white;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  #phrase {
    color: white;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .imggeo {
    display: none;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .navbar {
    position: initial;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .section-3 h2 {
   text-align: center;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .main-description {
    padding-top: 0%;
    padding-bottom: 15%;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .skill-description {
    font-size: 1.5rem;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .section-2 p  {
    font-size: 0.9rem;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .section-3 p  {
    font-size: 0.9rem;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .portfolio-title  {
    font-size: 20px;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .portfolio-description  {
    font-size: 0.9rem;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .section-4 h1  {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  #trust {
    font-size: 0.9rem;
  }
}


@media (min-width: 100px) and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}






// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-cta {
    font-size: 25px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .boost {
    font-size: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-description {
    padding-top: 8%;
  }
}
