.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Modifier le nombre de colonnes selon vos besoins */
  gap: 16px; /* Modifier l'espacement entre les vidéos selon vos besoins */
}

.grid-item {
  padding: 16px; /* Modifier la marge intérieure des vidéos selon vos besoins */
}

#phrase {
  font-size: 45px;
  font-weight: 600;
  color: #333;
}


.boost {
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #333;
}

.main-description {
  padding-top: 14%;
}
// #motChangeant {
//   animation: changementMots 2s linear infinite;
// }

// @keyframes changementMots {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.illustration {
  background-color: #323232;
  padding: 2%;
}

.illustration > iframe {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#motChangeant {
  background-color: #1eff92;
  color: #333;
}
