.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Modifier le nombre de colonnes selon vos besoins */
  gap: 16px; /* Modifier l'espacement entre les vidéos selon vos besoins */
}

.grid-item {
  padding: 16px; /* Modifier la marge intérieure des vidéos selon vos besoins */
}

#phrase {
  font-size: 45px;
  font-weight: 600;
  color: #333;
}


.boost {
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #333;
}

.main-description {
  padding-top: 14%;
}
// #motChangeant {
//   animation: changementMots 2s linear infinite;
// }

// @keyframes changementMots {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.illustration {
  background-color: #323232;
  padding: 2%;
}

.illustration > iframe {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#motChangeant {
  background-color: #1eff92;
  color: #333;
}

.section-1 {
  background-color : #FBF7F0;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
  grid-gap: 20px; /* Espacement entre les colonnes */
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale pour les logos */
  grid-gap: 10px; /* Espacement entre les logos */
}

.logo-grid img {
  width: 100%;
  height: auto;
}

.section-2 {
  background-color: white
}

.section-3 {
  background-color: white
}

.section-4 {
  background-color: #FBF7F0;
}

.references {
  background-color: white
}

.imggeo {
  width: 100%;
  height: auto;
}



////// test side bar
///
.sidebar {
  position: fixed;
  top: 50%; /* Vous pouvez ajuster cette valeur pour changer la position verticale de la barre latérale */
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  margin-bottom: 10px; /* Vous pouvez ajuster cette valeur pour définir l'espacement vertical entre les icônes de réseaux sociaux */
}

/* Optionnel : Styles pour les icônes de réseaux sociaux (nécessite l'utilisation d'une bibliothèque d'icônes comme Font Awesome) */
.sidebar i {
  font-size: 24px; /* Vous pouvez ajuster cette valeur pour changer la taille des icônes */
}
