.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 72px;
  position: fixed;
  top: 0; /* Masquer la barre de navigation en dehors de l'écran */
  left: 0;
  right: 0;
  transition: top 0.3s ease-in-out; /* Animation de transition pour une apparition en douceur */
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  font-size: 14px;
  color: #1e1c1c;
}

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #fff;
}

.text-container h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.text-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
}
